@model IEnumerable<TeamWebShop.Models.DTOs.Roles.RoleDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Roles</h1>

<p>
    <a class="btn btn-sm btn-warning" asp-action="UserList">Go to User List</a> <br/>
    <a asp-action="CreateRole">Create new role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" >Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" >Delete</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>
